---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import BgVideo from "../components/BgVideo.astro";
import Hero from "../components/Hero.astro";
import NewsCard from "../components/NewsCard.astro";
---

<Layout title="World of Warcraft">
  <BgVideo />

  <main>
    <NavBar />
    <Hero />
    <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 px-36">
      <NewsCard
        imageAlt="NewsCard related image"
        href="/"
        imgSrc="/public/newsCard/card4.jpg"
        date="8 de agosto de 2024"
        title="Mira The War Within™: Hilos del destino"
      />
      <NewsCard
        imageAlt="NewsCard related image"
        href="/"
        imgSrc="/public/newsCard/card3.jpg"
        date="8 de agosto de 2024"
        title="Mira The War Within™: Hilos del destino"
      />
      <NewsCard
        imageAlt="NewsCard related image"
        href="/"
        imgSrc="/public/newsCard/card2.jpg"
        date="8 de agosto de 2024"
        title="Mira The War Within™: Hilos del destino"
      />
      <NewsCard
        imageAlt="NewsCard related image"
        href="/"
        imgSrc="/public/newsCard/card1.avif"
        date="8 de agosto de 2024"
        title="Mira The War Within™: Hilos del destino"
      />
    </section>
  </main>

  <style>
    main {
      margin: auto;
      padding: 1rem;
      color: #fff;
      font-size: 20px;
    }
  </style>
</Layout>
