---
import Open from "./Open.astro";
---

<footer
  class="bg-bgfooter fixed bottom-0 left-0 w-full flex flex-row align-middle items-center justify-center p-4"
  style={`background-image: url("/public/footerbg.jpg");`}
>
  <div class="border-r-2 border-navbarprimary text-right pr-4">
    <h2 class="text-md">WORLD OF WARCRAFT: THE WAR WITHIN</h2>
    <h3 class="text-xs">LA OSCURIDAD LLAMARÁ EL 26 DE AGOSTO</h3>
  </div>

  <a href="" class="text-sm ml-4 text-orange flex flex-row"
    >PRECOMPRAR 
  </a><Open />
</footer>
