<div class="px-36">
    <h1 class="text-5xl pt-52 font-bold">
      THE WAR WITHIN™ ESTARÁ DISPONIBLE EL 26 DE AGOSTO!
    </h1>
    <p class="text-md pt-12">
      Prepárate para descender a las profundidades de Azeroth y explorar
      mundos <br />
      subterráneos repletos de maravillas ocultas, ganarte la confianza de los
      terráneos,
      <br /> la nueva raza aliada, y enfrentarte a un mal antiguo que acecha en
      la oscuridad.
    </p>
    <div class="pb-40 pt-14">
      <button
        class="text-yellow p-2 border-2 bprder-2-bg-navbarprimarybutton"
      >
        PRECOMPRAR
      </button>
      <button class="text-yellow p-2 border-2 border-2-navbarprimarybutton">
        MAS INFORMACION
      </button>
    </div>

    <div class="flex flex-row gap-4 items-center pb-4">
      <h2 class="text-md">NOTICIAS Y ACTUALIZACIONES MÁS RECIENTES</h2>
      <a href="" class="text-yellow text-sm">Ver todas las noticias</a>
    </div>
  </div>