<div class="md:px-36">
  <h1
    class="text-center md:text-left text-4xl md:text-5xl pt-28 md:pt-52 font-bold"
  >
    THE WAR WITHIN™ ESTARÁ DISPONIBLE EL 26 DE AGOSTO!
  </h1>
  <p class="text-sm text-center md:text-left md:text-xl pt-8 md:pt-12">
    Prepárate para descender a las profundidades de Azeroth y explorar mundos <br
    />
    subterráneos repletos de maravillas ocultas, ganarte la confianza de los terráneos,
    <br /> la nueva raza aliada, y enfrentarte a un mal antiguo que acecha en la
    oscuridad.
  </p>
  <div class="pb-14 md:pb-40 pt-14 text-center md:text-left space-x-4">
    <button
      class="text-xs md:text-md text-yellow px-8 py-4 md:px-6 md:py-4 border-2 border-2-bg-navbarprimarybutton"
    >
      PRECOMPRAR
    </button>
    <button
      class="text-xs md:text-md text-yellow px-8 py-4 md:px-6 md:py-4 border-2 border-2-navbarprimarybutton"
    >
      MAS INFORMACION
    </button>
  </div>

  <div class="flex flex-row gap-4 items-center pb-4">
    <h2 class="text-md">NOTICIAS Y ACTUALIZACIONES MÁS RECIENTES</h2>
    <a href="" class="text-yellow text-sm">Ver todas las noticias</a>
  </div>
</div>
