---
import NewsCard from "../components/NewsCard.astro";
---

<section
  class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 px-36"
>
  <NewsCard
    imageAlt="NewsCard related image"
    href="/"
    imgSrc="/public/newsCard/card4.jpg"
    date="8 de agosto de 2024"
    title="Mira The War Within™: Hilos del destino"
  />
  <NewsCard
    imageAlt="NewsCard related image"
    href="/"
    imgSrc="/public/newsCard/card3.jpg"
    date="8 de agosto de 2024"
    title="Mira The War Within™: Hilos del destino"
  />
  <NewsCard
    imageAlt="NewsCard related image"
    href="/"
    imgSrc="/public/newsCard/card2.jpg"
    date="8 de agosto de 2024"
    title="Mira The War Within™: Hilos del destino"
  />
  <NewsCard
    imageAlt="NewsCard related image"
    href="/"
    imgSrc="/public/newsCard/card1.avif"
    date="8 de agosto de 2024"
    title="Mira The War Within™: Hilos del destino"
  />
</section>
